# Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]uild/
[Bb]ld/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.userprefs

# Test results
[Tt]est[Rr]esult*/
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Logs
[Ll]og/
[Ll]ogs/
*.log

# Packaging
*.nupkg
*.snupkg

# Cache
mono_crash.*
*.cache
*.tmp

# JetBrains Rider
*.sln.iml

# VS Code
.vscode/

# Others
*.dbmdl
*.pfx
*.publishsettings

# Avalonia assets
*.axaml.cs.bin
